.favorite-button {
  position: absolute;
  background: none;
  background-image: url("../../assets/like.svg");
  border: none;
  height: 30px;
  width: 30px;
  margin: 20px 0 0 245px; }
  .favorite-button:hover {
    background-image: url("../../assets/like-hover.svg");
    cursor: pointer; }
  .favorite-button:focus {
    outline: none; }
