p {
  margin-left: 20px;
}

.card {
  width: 300px;
  background: white;
  margin: 30px;
  text-align: left;
}

.card-title {
  color: white;
  margin: 0;
  padding: 25px;
  font-weight: 300;
  text-align: center;
}

.card-title-person {
  background: #420606;
  padding-right: 50px;
}
