p {
  margin-left: 20px; }

.card {
  width: 300px;
  background: white;
  margin: 30px;
  text-align: left; }

.card-title {
  color: white;
  margin: 0;
  padding: 30px;
  text-align: center; }

.card-title-person {
  background: #420606; }
